.searchElem {
  padding: 10px;
  width: 280px;
  transition-duration: 0.3s;
  background: rgba(256, 256, 256, 0);
  cursor: pointer;
  &:hover {
    background: rgba(256, 256, 256, 0.1);
  }
  &:active {
    background: rgba(256, 256, 256, 0.2);
  }
}

.searchElem + .searchElem {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0%;
    top: 0;
    height: 1px;
    background: rgba(256, 256, 256, 0.5);
  }
}
