* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background: black;
}

.background {
  width: 100vw;
  height: 100vh;
  background: url(../assets/background/rain.jpg) 100% 100% no-repeat;
  background-size: cover;
  background-position: top;
  position: fixed;
  z-index: -10;
  top: 0;
  left: 0;
  opacity: 0.6;
}

main {
  padding: 50px 10px 10px 10px;
}

.change {
  padding: 0;
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  height: 100vh;
  min-height: 100vh;
}

section {
  width: 100%;
  padding: 10px;
  background: rgba(48, 56, 65, 0.7);
  border-radius: 10px;
  color: white;
}

section + section {
  margin-top: 20px;
}

.error {
  color: red;
  font-size: 14px;
  font-weight: bold;
}
