.region {
  width: 100vw;
  height: calc(100% - env(safe-area-inset-top));
  padding-top: env(safe-area-inset-top);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0;
}

.title {
  font-size: 20px;
  font-weight: 400;
}
