.DayElem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .dayText {
    font-size: 14px;
  }
  .dayInfo {
    display: flex;
    align-items: center;
    // width: 200px;
    img {
      width: 30px;
      height: 30px;
    }
    font-size: 14px;
    .condition {
      text-align: end;
      width: 76px;
    }
    .temp {
      width: 76px;
      font-size: 14px;
      text-align: end;
    }
  }
}
