.about {
  background: none;

  .title {
    margin-left: 10px;
    font-size: 14px;
    color: rgba(256, 256, 256, 0.7);
    font-weight: 400;
    padding: 0;
  }

  .container {
    margin-top: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
  }
}
