.sunInfo {
  margin-top: 5px;
  padding: 10px;
  background: rgba(48, 56, 65, 0.7);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -2;
  .container {
    width: 100%;
    height: 70px;
    // background: green;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    .sunrise {
      position: absolute;
      left: 5px;
      top: 5px;
      width: 20px;
      height: 20px;
    }
    .sunset {
      position: absolute;
      right: 5px;
      top: 5px;
      width: 20px;
      height: 20px;
    }
    .horison {
      margin-top: 20px;
      width: 300px;
      height: 300px;
      //   background: rgba(62, 193, 211, 0.5);
      background: rgb(48, 56, 65, 0.7);
      background: linear-gradient(
        0deg,
        rgba(48, 56, 65, 0.7) 82.5%,
        rgba(62, 193, 211, 0.7) 100%
      );
      // border-image: linear-gradient(
      //   0deg,
      //   rgba(120, 233, 248, 0.7) 0%,
      //   rgba(62, 193, 211, 0.7) 100%
      // );
      // border-image: linear-gradient(#f6b73c, #4d9f0c) 50;
      // border-width: 4px;
      // border-style: solid;
      border-radius: 50%;
      // border: 1px solid #78e9f8;
      position: absolute;

      &::after {
        background-image: linear-gradient(
          to bottom,
          rgb(203, 235, 240) 0%,
          rgba(48, 56, 65, 0.7) 20%
        );
        content: '';
        position: absolute;
        top: -2px;
        bottom: -2px;
        right: -2px;
        left: -2px;
        z-index: -1;
        border-radius: inherit;
      }

      .sun {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(254, 65, 1);
        background: radial-gradient(
          circle,
          rgba(254, 65, 1, 1) 5%,
          rgba(249, 166, 48, 1) 100%
        );
        box-shadow: 0 0 10px 3px rgba(249, 166, 48, 1);
        position: absolute;
        transform: translate(50%, 50%);
      }
      .moon {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        transform: translate(50%, 50%);
        overflow: hidden;
        &::after {
          content: '';
          position: absolute;
          right: -2px;
          top: 5px;
          transform: translateY(-50%);
          border-radius: 50%;
          width: 14px;
          height: 14px;
          box-shadow: 0px 0px 0px 2000px #c6dce7;
        }
      }
    }
    .night {
      background: rgb(48, 56, 65, 0.7);
      // background: linear-gradient(
      //   0deg,
      //   rgba(48, 56, 65, 0.7) 82.5%,
      //   rgba(62, 193, 211, 0.7) 100%
      // );
      &::after {
        // background: none;
        opacity: 0.3;
        top: -1px;
        bottom: -1px;
        right: -1px;
        left: -1px;
      }
    }
  }
  .time {
    width: 100%;
    display: flex;
    justify-content: space-between;
    div {
      margin-top: -2px;
      display: flex;
      flex-direction: column;
      .name {
        font-size: 12px;
        color: rgba(256, 256, 256, 0.7);
      }
      .value {
        margin-top: 5px;
        font-size: 14px;
      }
    }
    // &::before {
    //   content: '';
    //   width: 100%;
    //   height: 1px;
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   //   box-shadow: 0px -3px 10px 3px rgba(48, 56, 65, 0.5);
    // }
  }
}
